
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #144c91;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 320px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: right;
  padding: 10px;
  border-radius: 7.5px;
  border: 1px solid #8fdef6;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #717171;
}
